<div class="confirm">
	<div class="deletefoto">
		<img src="{{img}}" alt="">
		<form action="/auth/delete/{{id}}" method="POST">
			<br>
			<button type="submit">Delete</button>
		</form>
	</div>
</div>
