<div class="confirm">
	<div class="deletefoto">
		<img src="{{img}}" alt="">
		<p>Are you sure you want to delete this post? </p>
		<form action="/auth/delete/{{id}}" method="POST">
		<label for="fotoId">Input this ID {{_id}}</label>
		<input type="text" name="fotoId">
		<br>
		<button type="submit">Delete</button>
		</form>
	</div>
</div>
