<div class="following">
	<h2>Following</h2>
	<br>
	{{#each follow}}
	<div class="followinguser">
		<a href="/auth/userDetail/{{_id}}">
			<img src="{{photo}}" alt="">
			<span>{{username}}</span>
		</a>
	</div>
	{{/each}}
</div>
