<div class="auth">
	<h2>Signup</h2>
		{{#if message}}
		<br>
		<p class="message">{{message}}</p>
		<br>
		{{/if}}
	<form action="/auth/signup" method="POST" enctype="multipart/form-data">
		<div class="labels">
			<label for="username">Username</label>
			<input required type="text" name="username">
		</div>

		<div class="labels">
			<label for="photo">Profile</label>
			<label for="photo" class="signupPhotoLabel">choose your foto
			<input required type="file" name="photo" class="signupPhoto">
			</label>
		</div>

		<div class="labels">
			<label for="email">Email</label>
			<input required type="email" name="email">
		</div>

		<div class="labels">
			<label for="password">Password</label>
			<input required type="password" name="password">
		</div>

		<button type="submit">Signup!</button>
	</form>
</div>