<div class="mainIndex">
	{{#if user}}
		<div class="mainIndexFrase">
			<h1>Just show off your ootd.
			</h1>
		</div>
		<div class="fotos">
			{{#each fotosArr}}
				<div class="foto">
					<img src="{{img}}" alt="">
					<p>name : {{owner}}</p>
					<a href="/user/detail/{{_id}}">Detail</a>
				</div>
			{{/each}}
		</div>
	{{else}}
		<div class="indexFrase">
			<h1>Just show off your ootd.</h1>
		</div>
	{{/if}}
</div>

