<div class="main">
	<h1>Ootd</h1>
	<p>This is an app just so people can share their ootd.</p>

	<div class="fotos">
		{{#each fotos}}
			<div class="foto">
				<img src="{{img}}" alt="">
				<p>name : {{owner}}</p>
				<a href="/user/detail/{{ownerId}}">Detail</a>
			</div>
		{{/each}}
	</div>
</div>
