<div class="main">
	<div class="title">
		<h1>MAI YAMAWAKI</h1>
		<h1>Full Stack Developer</h1>
		<h1>Osaka, Japan</h1>
	</div>
	<div class="presentation">
		<p>I am a Full Stack Developer Junior living in Osaka, Japan.
		</p>

		<p>I started my programming career since July 2020 learning on my own,
		After personal learning, I took the Ironhack course in Mexico City to focus on programming in the most professional way, and to learn how to do a project with other programmers.
		</p>
		<p>I have never stopped learning in my life. Learning fascinates me more than anything.
		</p>

		<p>What I am looking for in my life is to continue growing.
		To continue growing professionally and as a person is the most important thing in my life.</p>
	</div>
</div>
