<div class="mainIndex">
	{{#if user}}
		<div>
			<h1>just post ootd</h1>
		</div>
		<div class="fotos"
			{{#each fotosArr}}
				<div class="foto">
					<img src="{{img}}" alt="">
					<p>name : {{owner}}</p>
					<a href="/user/detail/{{_id}}">Detail</a>
				</div>
			{{/each}}
		</div>
	{{else}}
	<div class="">
		<div class="indexFrase">
			<h1>just post your ootd</h1>
		</div>
	</div>
	{{/if}}
</div>

