<div class="mainIndex">
	{{#if user}}
		<div class="mainIndexFrase">
			<h1>Just show off your ootd.
			</h1>
		</div>
		<div class="fotos">
			{{#each fotosArr}}
				<div class="foto">
					<img src="{{img}}" alt="">
					<ul>
						<li><p>name : {{owner}}</p></li>
						<li><a href="/user/detail/{{_id}}">Detail</a></li>
					</ul>
				</div>
			{{/each}}
		</div>
	{{else}}
		<div class="indexFrase">
			<h1>Just show off your ootd.</h1>
		</div>
	{{/if}}
</div>

