<div class="main">
	<h3>{{username}}</h3>
	<img src="{{img}}" alt="">
	<div class="fotos">
		{{#each fotos}}
			<div class="foto">
				<img src="{{img}}" alt="">
				<a href="/user/detail/{{_id}}">Detail</a>
			</div>
		{{/each}}
	</div>
</div>