* {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  overflow-x: hidden;
  box-sizing: border-box;
  user-select: none; }

a {
  text-decoration: none;
  color: #333;
  transition: all 1.1s; }

a:hover {
  font-size: 22px; }

.message {
  color: tomato; }

button {
  padding: 3px 10px;
  border: none;
  border-radius: 30px;
  background-color: #333;
  color: white;
  display: block;
  width: 100%; }

/*links*/
.links {
  background-color: #333;
  color: white;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between; }

.title a {
  color: white;
  font-size: 28px; }

.link a {
  color: white;
  transition: all 1.1s;
  line-height: 40px; }

.link a:hover {
  font-size: 22px; }

/*fotos*/
.fotos {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px; }

.foto {
  width: 40%;
  height: 100%;
  margin: 0 5px 30px 5px; }

.foto img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto; }

.foto p {
  text-align: center;
  font-size: 11px;
  margin-bottom: 5px; }

.foto a {
  font-size: 10px;
  display: block;
  text-align: right;
  border-bottom: 1px solid #333;
  transition: all 1.0s; }

.foto a:hover {
  font-size: 13px; }

@media (min-width: 768px) {
  .foto {
    height: 100%; } }

@media (min-width: 1100px) {
  .foto {
    width: 21%; } }

/*detailFoto*/
.detailFoto {
  margin: 30px 10px; }

.detail img {
  width: 70%;
  display: block;
  margin: 20px auto; }

.detailFoto ul {
  list-style: none;
  width: 70%;
  margin: 10px auto;
  font-size: 14px; }

.detailFoto a {
  display: block;
  text-align: right;
  width: 80%;
  margin: 20px auto;
  border-bottom: 1px solid #333; }

/*aboutUser*/
.aboutUser {
  width: 80%;
  margin: 10px auto;
  text-align: center; }

.userInfo {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  width: 70%; }

.userInfoText {
  width: 50%;
  text-align: left;
  margin-left: 20px; }

.userImg {
  width: 40%; }

.userInfo img {
  width: 100%;
  height: 100px;
  border-radius: 50%; }

/*auth*/
.auth {
  width: 60%;
  margin: 0 auto; }

.auth h2 {
  text-align: center;
  margin: 10px 0; }

.auth input {
  width: 100%;
  border: none;
  background-color: #eee;
  border-radius: 30px;
  margin: 2px 0 8px 0; }

.auth label {
  margin: 5px 0; }

.signupPhotoLabel {
  position: relative;
  border: 1px solid #eee;
  background-color: #eee;
  border-radius: 30px;
  padding: 0 15px;
  display: block; }

.signupPhoto {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  border-radius: 30px;
  place-content: none;
  opacity: 0; }

/*delete confirm page*/
.confirm {
  width: 80%;
  margin: 10px auto; }

.deletefoto {
  text-align: center; }

.deletefoto img {
  width: 60%;
  display: block;
  margin: 0 auto; }

.deletefoto label {
  font-size: 11px; }

.deletefoto input {
  border: none;
  width: 100%;
  border-radius: 30px;
  background-color: #eee; }

.deletefoto button {
  background-color: tomato; }

/*private*/
.userImg img {
  width: 100%;
  height: 100%; }

.userInfoText a {
  font-size: 12px; }

.userInfo a:after {
  content: "";
  width: 0;
  transition: all 0.3s ease;
  border-bottom: 1px solid #333;
  display: block; }

.userInfoText a:hover:after {
  width: 60%;
  border-bottom: 1px solid #333; }

.private {
  margin: 10px 20px; }

.privateForm {
  width: 70%;
  margin: 10px auto; }

.privateForm h3 {
  border-bottom: 1px solid #333;
  text-align: right; }

.privateForm input {
  width: 100%;
  border: none;
  background-color: #eee;
  border-radius: 30px;
  margin: 2px 0 8px 0; }

.postPhotoLabel {
  position: relative;
  background-color: #eee;
  display: block;
  width: 100%;
  border-radius: 30px; }

.postPhoto {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  place-content: none; }

/*followingUsersView*/
.following {
  width: 80%;
  margin: 10px auto;
  text-align: center; }

.followinguser {
  margin: 5px auto;
  width: 60%;
  text-align: left; }

.followinguser img {
  width: 20px;
  height: 20px;
  border-radius: 50%; }

/*# sourceMappingURL=style.css.map */